In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\new\ML\bengaluru\Bengaluru_House_Data.csv")

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [5]:
df.shape

(13320, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [7]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
for column in df.columns:
    print(df[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [9]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [10]:
df= df.drop(columns=['area_type','availability','society','balcony'])

In [11]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [12]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [14]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [15]:
df['location'] = df['location'].fillna('Sarjapur  Road')

In [16]:
df['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [17]:
df['size'] = df['size'].fillna('2 BHK')

In [18]:
df['bath'].value_counts()

bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64

In [19]:
df['bath']  = df['bath'].fillna(df['bath'].median())

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [21]:
df['BHK'] = df['size'].str.split().str.get(0).astype(int)

In [22]:
df.sample(5)

                    location       size total_sqft  bath   price  BHK
3594          Subramanyapura  6 Bedroom       1200   6.0  170.00    6
4320   Raja Rajeshwari Nagar      1 BHK        550   1.0   21.00    1
5474               Gottigere      2 BHK       1010   2.0   35.00    2
3462             Kathriguppe      3 BHK       1350   2.0   87.01    3
13276       LB Shastri Nagar      2 BHK       1000   2.0   49.50    2

In [23]:
df = df.drop(columns=['size'])

In [24]:
df.sample(5)

                    location total_sqft  bath   price  BHK
10717  Banashankari Stage VI        600   5.0  105.00    4
9665              Whitefield       1100   2.0   65.00    2
11584             R.T. Nagar       2400   3.0  348.00    3
1353               Yelahanka       1075   2.0   51.50    2
9870             Uttarahalli       1270   2.0   55.25    3

In [25]:
df[df['BHK']>20]

                       location total_sqft  bath  price  BHK
1718  2Electronic City Phase II       8000  27.0  230.0   27
4684                Munnekollal       2400  40.0  660.0   43

In [26]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [27]:
'''def convertRange(x):
    x = str(x)
    temp =x.split('-')
    if(len(temp)==2):
        
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except ValueError:
        return None'''

df['total_sqft'].value_counts()

total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64

In [28]:
import re

def convertRange(x):
    if isinstance(x, str):
        if ' - ' in x:
            temp = x.split('-')
            if len(temp) == 2:
                num1 = re.findall(r'\d+', temp[0])
                num2 = re.findall(r'\d+', temp[1])
                if num1 and num2:
                    return (float(num1[0]) + float(num2[0])) / 2
        else:
            num = re.findall(r'\d+', x)
            if num:
                return float(num[0])
    elif isinstance(x, int):
        return float(x)
    else:
        return None

In [29]:
df['total_sqft'] = df['total_sqft'].apply(convertRange)

In [30]:
df.head()

                   location  total_sqft  bath   price  BHK
0  Electronic City Phase II      1056.0   2.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

# Now we are doing feature Enginerring

In [31]:
df['price_per_sqft'] = df['price']*100000/df['total_sqft']

In [32]:
df.head()

                   location  total_sqft  bath   price  BHK  price_per_sqft
0  Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1          Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2               Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3        Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                  Kothanur      1200.0   2.0   51.00    2     4250.000000

In [33]:
df.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  13320.000000  13320.000000  13320.000000  13320.000000    1.332000e+04
mean    1555.968356      2.688814    112.565627      2.802778    1.287954e+04
std     1238.902473      1.338754    148.971674      1.294496    2.583161e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.271723e+03
50%     1275.000000      2.000000     72.000000      3.000000    5.444545e+03
75%     1679.250000      3.000000    120.000000      3.000000    7.335907e+03
max    52272.000000     40.000000   3600.000000     43.000000    2.000000e+07

In [34]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    400
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [35]:
df['location'].isnull().sum()

0

In [36]:
df['location']= df['location'].apply(lambda x: x.strip())
location_count=df['location'].value_counts()

In [37]:
location_count_less_10 = location_count[location_count<=10]

In [38]:
location_count_less_10

location
Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: count, Length: 1053, dtype: int64

In [39]:
'''def trasfer(x):
    if location_count_less_10.any():
        return 'other'
    else:
        return x
    
df['location'] = df['location'].apply(trasfer)'''

"def trasfer(x):\n    if location_count_less_10.any():\n        return 'other'\n    else:\n        return x\n    \ndf['location'] = df['location'].apply(trasfer)"

In [40]:
df['location'] = df['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [41]:
df['location'].value_counts()

location
other                 2885
Whitefield             541
Sarjapur  Road         400
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

## Outlier Detection and Remove

In [42]:
df.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  13320.000000  13320.000000  13320.000000  13320.000000    1.332000e+04
mean    1555.968356      2.688814    112.565627      2.802778    1.287954e+04
std     1238.902473      1.338754    148.971674      1.294496    2.583161e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.271723e+03
50%     1275.000000      2.000000     72.000000      3.000000    5.444545e+03
75%     1679.250000      3.000000    120.000000      3.000000    7.335907e+03
max    52272.000000     40.000000   3600.000000     43.000000    2.000000e+07

In [43]:
(df['total_sqft']/df['BHK']).describe()

count    13320.000000
mean       573.601880
std        388.596864
min          0.250000
25%        472.500000
50%        551.833333
75%        625.000000
max      26136.000000
dtype: float64

In [44]:
df = df[((df['total_sqft']/df['BHK'])>=300)]

In [45]:
df.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  12538.000000  12538.000000  12538.000000  12538.000000    12538.000000
mean    1594.850415      2.560217    111.390611      2.651460     6303.787290
std     1261.221099      1.079405    152.041719      0.978385     4161.159036
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [46]:
df.shape

(12538, 6)

In [47]:
df['price_per_sqft'].describe()

count     12538.000000
mean       6303.787290
std        4161.159036
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [48]:
df['price_per_sqft'].mean()

6303.787289850818

In [49]:
def remove_outliers_sqft(x):
    x_output = pd.DataFrame()
    for key,subx in x.groupby('location'):
        m = np.mean(subx.price_per_sqft)
        st = np.std(subx.price_per_sqft)
        gen_x = subx[(subx.price_per_sqft > (m-st)) & (subx.price_per_sqft <= (m+st))]
        x_output = pd.concat([x_output,gen_x],ignore_index = True)
    return x_output
df = remove_outliers_sqft(df)

In [50]:
df.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  10308.000000  10308.000000  10308.000000  10308.000000    10308.000000
mean    1508.913562      2.472643     91.316931      2.575766     5659.449461
std      881.027573      0.981605     86.343792      0.900062     2265.514335
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4245.186754
50%     1286.000000      2.000000     67.000000      2.000000     5175.792088
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [51]:
df.shape

(10308, 6)

In [52]:
def bhk_outlier_remove(x):
    exc_ind = np.array([])
    for location,location_x in x.groupby('location'):
        BHK_stats = {}
        for BHK,BHK_x in location_x.groupby('BHK'):
            BHK_stats[BHK] = {
                'mean' : np.mean(BHK_x.price_per_sqft),
                'std' : np.std(BHK_x.price_per_sqft),
                'count' : BHK_x.shape[0]
            }
        for BHK,BHK_x in location_x.groupby('BHK'):
            stats = BHK_stats.get(BHK)
            if stats and stats['count']>5:
                exc_ind = np.append(exc_ind,BHK_x[BHK_x.price_per_sqft<(stats['mean'])].index.values)
    return x.drop(exc_ind,axis = 'index')

In [53]:
df = bhk_outlier_remove(df)

In [54]:
df.shape

(5269, 6)

In [55]:
df.head()

              location  total_sqft  bath  price  BHK  price_per_sqft
0  1st Block Jayanagar      2850.0   4.0  428.0    4    15017.543860
1  1st Block Jayanagar      1630.0   3.0  194.0    3    11901.840491
2  1st Block Jayanagar      1875.0   2.0  235.0    3    12533.333333
3  1st Block Jayanagar      1200.0   2.0  130.0    3    10833.333333
4  1st Block Jayanagar      1235.0   2.0  148.0    2    11983.805668

In [57]:
df = df.drop(columns = ['price_per_sqft'])

In [58]:
df.head()

              location  total_sqft  bath  price  BHK
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [60]:
df.to_csv("Cleaned_data.csv")# to save the data

In [62]:
X = df.drop(columns= ['price'])
y = df['price']

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [71]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.2,random_state= 0)

In [72]:
X_train.shape

(4215, 4)

In [73]:
X_test.shape

(1054, 4)

## Linear Regression

In [99]:
colum_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder= 'passthrough')

In [100]:
scaler = StandardScaler()

In [101]:
lr = LinearRegression()

In [102]:
pipe = make_pipeline(colum_trans,scaler,lr)

In [103]:
pipe.fit(X_train,y_train)

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [105]:
y_pred = pipe.predict(X_test)

In [106]:
r2_score(y_test,y_pred)

0.827149497863654

## Lasso

In [109]:
lasso = Lasso()

In [110]:
pipe = make_pipeline(colum_trans,scaler,lasso)

In [111]:
pipe.fit(X_train,y_train)

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [112]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

0.8097388090992814

## Ridge

In [113]:
ridge = Ridge()

In [114]:
pipe= make_pipeline(colum_trans,scaler,ridge)

In [115]:
pipe.fit(X_train,y_train)

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [116]:
y_pred_ridge = pipe.predict(X_test)

In [117]:
r2_score(y_test,y_pred_ridge)

0.8270434344767612

In [118]:
import pickle

In [119]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))